<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-47MQtoqPeeP2tm9XalCxEwBrZKNJpKE</string>
	<key>GCM_SENDER_ID</key>
	<string>997332879381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toplulukUygulamaApp</string>
	<key>PROJECT_ID</key>
	<string>loyalapp3-c8940</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalapp3-c8940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997332879381:ios:6850d4acd249694b19e61c</string>
	<key>DATABASE_URL</key>
	<string>https://loyalapp3-c8940-default-rtdb.firebaseio.com</string>
</dict>
</plist>